html{
    color:#333;background:#FFF
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin:0;padding:0
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img{
    border:0
}
address,caption,cite,code,dfn,em,strong,th,var{
    font-style:normal;font-weight:normal
}
ol,ul{
    list-style:none
}
caption,th{
    text-align:left
}
h1,h2,h3,h4,h5,h6{
    font-size:100%;font-weight:normal
}
input,textarea,select{
    font-family:inherit;font-size:inherit;font-weight:inherit;font-size:100%
}
body {
    background: #fff;
    min-width: 1226px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
li {
    display: list-item
}
input {
    outline: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix::before {
    display: table;
    content: '';
}
.clearfix::after {
    display: block;
    content: '';
    clear: both;
}
@font-face {
    font-family: 'icomoon';
    src:  url('./../fonts/icomoon.eot?lxcfzf');
    src:  url('./../fonts/icomoon.eot?lxcfzf#iefix') format('embedded-opentype'),
      url('./../fonts/icomoon.ttf?lxcfzf') format('truetype'),
      url('./../fonts/icomoon.woff?lxcfzf') format('woff'),
      url('./../fonts/icomoon.svg?lxcfzf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
/* 中心板块 */
.content {
    width: 1226px;
    margin: 0 auto;
}
footer iframe{
    width: 100%;
    height: 450px;
}
.icon {
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
}